.press-btn {
  .icon-join {
    width: 103px;
    height: 60px;
    background-image: url("@/assets/image/btn/btn_join.png");
    background-size: 103px 60px;
  }
  &:hover {
    .icon-join {
      background-image: url("@/assets/image/btn/btn_join_h.png");
    }
  }
}