$primary_default: #007FAB;
$primary_dark: #003A4F;
$primary_tint: #B0D2DE;
$secondary_default: #FFC37D;
$secondary_dark: #A46039;
$secondary_tint: #FFE2A9;
$highlight_default: #FF5136;
$highlight_dark: #CD331A;
$highlight_tint: #FFB5A4;
$back_100: #000000;
$back_80: #CCCCCC;
$back_60: #999999;
$back_40: #666666;
$back_20: #333333;
$white: #FFFFFF;